# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pygame / assets temporales
*.log
*.tmp
*.bak

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Otros temporales
*.swp
